.x{
    width: 150px;
    height: 100px;
    background-color: brown;
    top: 0;
    left: 0;
    position: relative;
    z-index: 20;
}
.xx{
    width: 150px;
    height: 100px;
    background-color: blue;
    top:-30px;
    left: 50px;
    position: relative;
    z-index: 15;
}
.xxx{
    width: 150px;
    height: 100px;
    background-color: chartreuse;
    top:-60px;
    left: 90px;
    position: relative;
    z-index: 10;
}
.xxxx{
    width: 150px;
    height: 100px;
    background-color: red;
    top:-90px;
    left: 140px;
    position: relative;
    z-index: 5;
}